body {
  font-family: sans-serif;
  padding: 20px;
}

#map {
  height: 80vh; /* vh: 화면 세로의 80% */
  width: 100%;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

#info {
  padding: 12px;
  background: #f9f9f9;
  border-left: 5px solid #007BFF;
  border-radius: 6px;
  line-height: 1.6;
}

#controls {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
#controls button {
  padding: 6px 12px;
  background: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#controls button:hover {
  background: #0056b3;
}

.buttons {
      display: flex;
      gap: 8px;
    }

    .buttons a {
      padding: 6px 12px;
      background: #007BFF;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      text-decoration: none;
      font-size: 13px;
    }

    .buttons a:hover {
      background-color: #005fa3;
    }